{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>TechHome</title>
  <link rel="stylesheet" href="{% static 'css/Tela1_Home.css' %}">
</head>

<body>

  <!-- TOPO -->
  <header class="cabecalho">
    <div class="cabecalho-esquerda">
      <h1 class="marca">TechHome</h1>
    </div>

    <div class="cabecalho-centro">
      <form action="{% url 'home' %}" method="GET">
        <input name="barra" type="text" placeholder="Buscar eletrônicos..." class="input-busca">
      </form>
      
    </div>
 
    <nav class="cabecalho-direita">
      <a href="#" id="cabecalho-usando">Inicio</a>
      <a href="{% url 'categoria_produto' %}">Categoria</a>
      <a href="{% url 'contato'%}">Contato</a>
      <a href="{% url 'perfil' %}">Perfil</a>
    </nav>
  </header>

  <!-- BANNER -->
  <section class="destaque">
    <div class="destaque-texto">
      <h2>Promoções da Semana</h2>
      <p>Até 40% OFF em produtos selecionados</p>
      <p>Melhores preços é aqui!</p>
    </div>
  </section>

  <!-- PRODUTOS -->
  <main class="conteudo">
    



    <h2 class="titulo">Produtos em destaque</h2>
    
    
    <div class="vitrine">
      {% for produtos in produto %}
      <div class="item-produto">
        
        <img src="{{produtos.imagem.url }}" alt="{{produtos.nome}}">
        
        <h3>{{produtos.nome}}</h3>
        <p class="valor">R$ {{produtos.preco|intcomma}}</p>
        
        
        <a href="{% url 'detalhe_produto' produtos.id %}" class="acoes-produto">
          <button  class="btn-carrinho">Ver detalhes</button>
        </a>
          
      </div>
      {% endfor %}
    </div>
  </main>

  <footer class="rodape">
    <p>© 2026 TechHome Direitos Autorais Para José Matheus</p>
  </footer>

</body>
</html>